@charset "UTF-8";

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    border: 2px solid black;
    padding: 15px; 
    text-align: center;
}

.grid-container.headers {
   background-color: #333333;
    color: white; 
}

#writeBtn {
    margin-top: 20px;
    padding: 10px 15px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}


#writeBtn:hover {
    background-color: #45a049;
}
