<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.ezen.board.mapper.BoardMapper" >
     <select id="getAll" resultType="com.ezen.board.dto.BoardDTO">
     SELECT * FROM myboard ORDER BY board_id DESC
     </select>
     
     <select id="getAllWithReplyCount" resultType="com.ezen.board.dto.BoardDTO">
     	SELECT myboard.*, 
     	(SELECT count(reply_id) 
     	FROM myreply WHERE myreply.board_id = myboard.board_id) AS reply_count
     	 FROM myboard ORDER BY board_id DESC
     </select>
     
     <select id="get" resultType="com.ezen.board.dto.BoardDTO">
        SELECT * FROM myboard WHERE board_id=#{board_id}
     </select>
     
     <!-- KeyProperty: 전달한 DTO에 방금 insert 또는 update했을때의 키값을 넣어주는 mybatis 옵션 -->
  <!--    <insert id="insert" parameterType="com.ezen.board.dto.BoardDTO"
      useGeneratedKeys="true" keyProperty="board_id"> -->
      
     <insert id="insert" parameterType="com.ezen.board.dto.BoardDTO">
	     <selectKey resultType="Integer" keyProperty="board_id" order="BEFORE">
	      SELECT myboard_id_seq.nextval FROM dual
	     </selectKey>
        INSERT INTO
           myboard(
              board_id,
              board_title,
               board_content,
               board_password,
               board_writer)
           VALUES(
              #{board_id},
              #{board_title},
              #{board_content},
              #{board_password},
              #{board_writer})   
     </insert>
         
  </mapper>
  
  
  
  